<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Paralegal &mdash; Free Multi-Purpose Legal Document Verifier</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Arvo:200,300,400" rel="stylesheet">

		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/law-icons/font/flaticon.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome/css/font-awesome.min.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='assets/css/slick-theme.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/helpers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css' ) }}">
	</head>
	<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">

    <nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
      <div class="container">
        <a class="navbar-brand" href="index.html">Paralegal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="ion-navicon"></i></span>
        </button>
        <!--<div class="collapse navbar-collapse" id="probootstrap-navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#section-home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-why-us">Why</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-practicing-areas">Practicing Areas</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-attorneys">Attorneys</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-testimonials">Testimonials</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-contact">Contact</a></li>
          </ul>
        </div> -->
      </div>
    </nav>
    <!-- END nav -->

    <section class="pb_cover_v1 text-left cover-bg-black cover-bg-opacity-4" style="background-image: url({{url_for('static', filename='assets/images/3.jpg') }})" id="section-home">
      <div class="container">
        <div class="row align-items-center justify-content-end">
          <div class="col-md-6">

            <h2 class="heading mb-13">Paralegal</h2>
            <div class="sub-heading"><p class="mb-5">Your free personal legal advisor</p>
            <p class= "mb-5"><a href="#section-contact" role="button" class="btn smoothscroll pb_outline-light btn-xl pb_font-13 p-4 rounded-0 pb_letter-spacing-2">Free Consultation</a></p>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->




    <section class="pb_section" data-section="contact" id="section-contact">
      <div class="container">

        <div class="row justify-content-md-center text-center mb-5">
          <div class="col-lg-7">
            <h2 class="mt-0 heading-border-top font-weight-normal">Enter your legal document</h2>
          </div>
        </div>


        <div class="row">
          <div class="col-md-8 pr-md-5 pr-sm-0 mb-4">
              <div class="row">
                <div class="col-md">
                  <div class="form-group">
                    <form id="summarize" action="/summarize" method="POST">
                    	<input id="text" type="text" name="form_input">
                			<input type="submit" class="btn pb_outline-dark pb_font-13 pb_letter-spacing-2 p-3 rounded-0" value="Summarize">
										</form>
										<form id="query" action="/query" method="POST">
                    	<input id="text" type="text" name="form_input">
											<input id="text" type="text" name="query">
                			<input type="submit" class="btn pb_outline-dark pb_font-13 pb_letter-spacing-2 p-3 rounded-0" value="Query">
										</form>
										{% if summary %}
										<h1>Summary</h1>
										<p>{{ summary }}</p>
										{% elif queryresult %}
										<h1>Query Result</h1>
										<p>{{ queryresult }}</p>
										{% endif %}
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <!-- loader -->
    <div id="pb_loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#FDA04F"/></svg></div>


    <script src="{{ url_for('static',filename='assets/js/jquery.min.js' ) }}"></script>
    <script src="{{ url_for('static',filename='assets/js/popper.min.js' ) }}"></script>
    <script src="{{ url_for('static',filename='assets/js/bootstrap.min.js' ) }}"></script>
    <script src="{{ url_for('static',filename='assets/js/slick.min.js' ) }}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.waypoints.min.js' ) }}"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.easing.1.3.js' ) }}"></script>
    <script src="{{ url_for('static',filename='assets/js/main.js' ) }}"></script>

	<!--
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slick.min.js"></script>

    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/jquery.easing.1.3.js"></script>

    <script src="assets/js/main.js"></script>-->

	</body>
</html>
